body{
  padding:0;
  margin: 0;
}

.card{
  border:2px solid black;
  width: 500px;
  height: 500px;
  border-radius: 30px;
  padding:2em;
  text-align: center;
  font-size:xx-large;
  background-color: black;
  color: white;
  position: relative;
  top: 200px;
  left: 200px;
}
@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.card::after, .card::before{

  content:'';
  position: absolute;
  height: 100%;
  width: 100%;
  /* background-color: red; */
  background-image: conic-gradient(from var(--angle),#ff4545,#00ff99 ,#006aff,#ff0095,#ff4545);
  /* background-image: conic-gradient(from var(--angle), transparent 70%, blue); */
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 10px;
  border-radius: 30px;
  animation: 3s spin linear infinite;
}
.card::before{
  filter:blur(1.5rem);
  opacity: 0.5;

}
@keyframes spin {
  from{
    --angle:0deg;
  }
  to{
    --angle : 360deg; 
  }
}